{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Admin
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/blog-post.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-offset-2 col-lg-8">
                <div class="list-group">
                  <a href="{{ url_for('admin.profile', user_id=current_user.id) }}" class="list-group-item">Edit profile</a>
                  <a href="{{ url_for('admin.create_post') }}" class="list-group-item">Create Post</a>
                  <a href="{{ url_for('admin.posts_list') }}" class="list-group-item">Update Posts<span class="badge">{{ posts_count }}</span></a>
                </div>
            </div>

        </div>
        <!-- /.row -->

        {% block footer %}
            {{ super() }}
        {% endblock footer %}

    </div>
    <!-- /.container -->
{% endblock content %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}