{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Update Post
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/blog-post.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-offset-3 col-lg-6">
                {% block flash %}
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endblock flash %}
                <br>
                {{ wtf.quick_form(form) }}
                <form action="{{ url_for('admin.posts_list') }}" style="margin-top: 10px;">
                    <input class="btn btn-info" type="submit" value="View all posts" />
                </form>
                <form action="{{ url_for('admin.delete_post', post_id=post_id) }}" style="margin-top: 10px;">
                    <input class="btn btn-danger" type="submit" value="Delete post" />
                </form>
            </div>

        </div>
        <!-- /.row -->

        {% block footer %}
            {{ super() }}
        {% endblock footer %}

    </div>
    <!-- /.container -->
{% endblock content %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock scripts %}