{% extends 'base_post.html' %}

{% block post %}
    {% block flash %}
        {{ super() }}
    {% endblock flash %}
    <!-- Title -->
    <h1>{{ post.title|title }}</h1>

    <!-- Author -->
    <p class="lead">
        by <a href="#">Admin</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> {{ moment(post.timestamp).fromNow() }} </p>
    <!-- Post Body -->
    <hr>
    {{ post.body_html|safe }}
    <hr>

    <div class="well well-form">
        <h4>Leave your comment, {% if current_user.name %}{{ current_user.name }}{% else %}Stranger{% endif %}</h4>
        <form action="{{ url_for('main.add_comment', post_slug=post.slug) }}" method="POST">
            <div class="form-group">
                {{ form.csrf_token }}
                <label for="email">
                    Your email
                </label>
                {% if not current_user.is_authenticated %}
                    {{ form.email(class_='form-control') }}
                {% else %}
                    {{ form.email(class_='form-control', value=current_user.email) }}
                {% endif %}
                <label for="body">
                    Your comment
                </label>
                {{ form.body(class_='form-control', rows='4') }}
            </div>
            {{ form.submit(class_='btn btn-primary') }}
        </form>
    </div>

    <hr>
{% endblock post %}

{% block comments %}
    {% for comment in comments %}
        <div class="media">
            <a href="#" class="pull-left">
                <img class="pull-left" src="{{ comment.avatar_hash }}" alt="avatar">
            </a>
            <div class="media-body">
                <h4 class="media-body">
                    {{ comment.author_email }}
                    <small>{{ moment(comment.timestamp).fromNow() }}</small>
                </h4>
                {{ comment.body }}
            </div>
        </div>
    {% endfor %}

{% endblock comments %}