{% extends 'base_post.html' %}

{% block post %}
    <!-- Title -->
    <h1>{{ post.title|title }}</h1>

    <!-- Author -->
    <p class="lead">
        by <a href="#">Admin</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> {{ moment(post.timestamp).fromNow() }} </p>
    <!-- Post Body -->
    <hr>
    {{ post.body_html|safe }}
    <hr>


    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form role="form">
            <div class="form-group">
                <label for="commentator-name">
                    Enter your name
                </label>
                <br>
                <input class type="text" name="commentator-name" id="commentator-name">
                <br>
                <br>
                <label for="photo-url">
                    Add your photo url or miss
                </label>
                <br>
                <input type="text" name="photo-url" id="photo-url">
                <br>
                <br>
                <label for="comment">
                    Leave comment here.
                </label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>
{% endblock post %}

{% block comments %}
    {% for comment in comments %}
        <div class="media">
            <a href="#" class="pull-left">
                <img class="pull-left" src="{{ comment.avatar_hash }}" alt="avatar">
            </a>
            <div class="media-body">
                <h4 class="media-body">
                    {{ comment.author_name }}
                    <small>{{ moment(comment.timestamp).fromNow() }}</small>
                </h4>
                {{ comment.body }}
            </div>
        </div>
    {% endfor %}

{% endblock comments %}